<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap" rel="stylesheet">

<!-- ion-toolbar with home button, and systen.date.time real-time display -->

<ion-toolbar>
  <ion-button fill="clear" color="dark" style="font-family: 'MoonReg';" [routerLink]="['/home']" type="md">DAXSTER
  </ion-button>  
  <ion-button (click)="toggle($event)" fill="clear" color="dark" slot="end" size="medium"><ion-icon slot="start" name="moon-outline" type="md"></ion-icon></ion-button>
  <p slot="end" style="font-family: 'IBM Plex Mono';">{{today | date:'h:mm:ss a'}}</p>
</ion-toolbar>

<!-- password manager menu -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="min-width: 15vw; max-width: 15vw; border-right: 1px #212121 solid; height: 100vh">
        <ion-row style="padding-top: 30px; padding-left: 30px; max-width: 250px;" *ngFor="let p of appPages">
          <ion-button fill="clear" color="dark" [routerLink]="[p.url]">
            <ion-text style="font-family: 'IBM Plex Mono'">{{p.title}}</ion-text>
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col style="min-width: 50vw; max-width: 50vw;">
        <ion-row>
          <ion-button color="dark" fill="clear" (click)="newPassword = !newPassword">
            <ion-icon name="add"></ion-icon>
            <ion-label>Add New</ion-label>
          </ion-button>
        </ion-row>

        <!-- display account details w/ show more menu -->

        <ion-row *ngFor="let account of data" style="padding-top: 20px; padding-left: 20px;">
          <ion-text style="font-family: 'IBM Plex Mono'; padding-right: 7px; padding-top: 6px;">{{account.email}}</ion-text>
          <ion-button color="dark" fill="clear" (click)="accountDetails = !accountDetails" size="small">
            <ion-icon name="caret-down-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
      
      <!-- add new password with inputs and submit button -->
      
      <ion-col *ngIf="newPassword && !accountDetails" style="padding-top: 15px; border-left: 1px #212121 solid; min-width: 18vw !important; max-width: 18vw !important;" push="2">
        <ion-row>
          <ion-col>
            <ion-text style="font-size: 18px; font-family: 'IBM Plex Mono'; align-content: center; padding-left: 20px;">New Password</ion-text>
            <ion-input placeholder="E-Mail:" style="padding-left: 20px; margin-left: 12px; margin-top: 20px;" [(ngModel)]="email"></ion-input>
            <ion-input placeholder="Password:" style="padding-left: 20px; margin-left: 12px; margin-top: 20px;" [(ngModel)]="password"></ion-input>
            <ion-button style="margin-top: 30px;" fill="clear" color="dark" (click)="addAccount()">Done</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>

      <!-- show account details -->

      <ion-col *ngIf="accountDetails && !newPassword" style="padding-top: 15px; border-left: 1px #212121 solid; min-width: 15vw !important; max-width: 15vw !important;" push="2">
        <ion-text style="font-size: 18px; font-family: 'IBM Plex Mono'; align-content: center; padding-left: 20px;">Account Details</ion-text>
        <div style="padding-top: 20px; padding-left: 10px;">
          <ion-row *ngFor="let account of data" style="padding-left: 30px; padding-top: 20px;">
            <ion-text style="font-family: 'IBM Plex Mono'">E-mail: </ion-text>
            <ion-text style="font-family: 'IBM Plex Mono'">{{account.email}}</ion-text>
          </ion-row>
          <ion-row *ngFor="let account of data" style="padding-left: 30px; padding-top: 40px;">
            <ion-text style="font-family: 'IBM Plex Mono'">Password: </ion-text>
            <ion-text style="font-family: 'IBM Plex Mono'">{{account.password}}</ion-text>
          </ion-row>
          <ion-row style="padding-left: 18px; padding-top: 30px;">
            <ion-button (click)="closeDetails()" fill="clear" color="dark" size="small">Close</ion-button>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>