<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap" rel="stylesheet">

<ion-toolbar>
  <ion-button fill="clear" color="dark" style="font-family: 'MoonReg';" [routerLink]="['/home']" type="md">DAXSTER
  </ion-button>  
  <ion-button (click)="toggle($event)" fill="clear" color="dark" slot="end" size="medium"><ion-icon slot="start" name="moon-outline" type="md"></ion-icon></ion-button>
  <p slot="end" style="font-family: 'IBM Plex Mono';">{{today | date:'h:mm:ss a'}}</p>
</ion-toolbar>

<ion-content>
  <ion-grid *ngFor="let a of applications">
    <ion-row>
      <ion-title style="font-family: 'IBM Plex Mono'; font-size: 20px; padding-top: 20px;">{{a.title}}
      </ion-title>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon [name]="a.icon" style="padding-top: 15px;"></ion-icon>
      </ion-col>
      <ion-col style="padding-top: 25px; font-family: 'IBM Plex Mono';" size="11.2">
        <ion-text>{{a.text}}.</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button color="dark" fill="clear" style="font-family: 'MoonReg';" [routerLink]="[a.url]">Project Link
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>