<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap" rel="stylesheet">

<!-- ion-toolbar with home button, and systen.date.time real-time display -->

<ion-toolbar>
  <ion-button fill="clear" color="dark" style="font-family: 'MoonReg';" [routerLink]="['/home']" type="md">DAXSTER
  </ion-button>
  <p slot="end" style="font-family: 'IBM Plex Mono';">{{today | date:'h:mm:ss a'}}</p>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="max-width: 250px; border-right: 1px #212121 solid; height: 100vh">
        <ion-row style="padding-top: 30px; padding-left: 30px; max-width: 250px;" *ngFor="let p of appPages">
          <ion-button fill="clear" color="dark" [routerLink]="[p.url]">
            <ion-text style="font-family: 'IBM Plex Mono'">{{p.title}}</ion-text>
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-text style="font-family: 'IBM Plex Mono'">Password Generator (from 8 characters to 64 characters)</ion-text>
        <ion-range min="8" max="64" step="1" debounce="750" pin="true" color="dark" (ionChange)="onChange($event)">
          <ion-label slot="start">8</ion-label>
          <ion-label slot="end">64</ion-label>
        </ion-range>
        <ion-text style="font-family: 'IBM Plex Mono'; padding-left: 15px;">{{password}}</ion-text>
        <ion-button color="dark" fill="clear" (click)="copyClipboard()" style="padding-bottom: 10px;">
          <ion-icon name="clipboard-outline"></ion-icon>
        </ion-button>
        <br>
        <ion-row style="padding-left: 15px;">
          <ion-list>
            <ion-list-header style="font-family: 'IBM Plex Mono'; font-size: 16px;">Options</ion-list-header>
              <ion-item *ngFor="let entry of form">
                <ion-label style="font-size: 14px; font-family: 'IBM Plex Mono'">{{entry.val}}</ion-label>
                <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
              </ion-item>
          </ion-list>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
