<ion-content>
  <ion-avatar class="img-center">
    <img src="http://globalaccessibilitynews.com/files/2013/05/UBC-Logo.jpg">
  </ion-avatar>
  <ion-title style="text-align: center; margin-top: 20px; font-size: 30px; font-family: 'MoonReg';">Dax's Website</ion-title>
  <div style="padding-top: 50px; text-align: center;">
    <ion-button color="dark" fill="clear" style="font-family: 'MoonReg';" [routerLink]="['/projects']">Projects</ion-button>
    <ion-button color="dark" fill="clear" href="https://github.com/averagecar587">
      <ion-icon name="logo-github" size="large"></ion-icon>
    </ion-button>
  </div>
</ion-content>
